@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="@Url.Action("GetFile","home",new {id=ViewBag.id })" />
    <br />
    <br />
    <form action="/home/GetFile">
        <input type="text" class="form-control" name="id" /><br />
        <button class="btn btn-success">show file</button>
    </form>
    <br />
    <br />
    <a href="/createreport">Download report</a>
</div>
